.icon {
    display: inline-block;
    flex-shrink: 0;

    background-color: currentColor;

    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.icon-home {
    mask-image: url('../../assets/icons/home.svg');
    -webkit-mask-image: url('../../assets/icons/home.svg');
}

.icon-home-bg {
    mask-image: url('../../assets/icons/home-bg.svg');
    -webkit-mask-image: url('../../assets/icons/home-bg.svg');
}

.icon-tasks {
    mask-image: url('../../assets/icons/tasks.svg');
    -webkit-mask-image: url('../../assets/icons/tasks.svg');
}

.icon-tasks-bg {
    mask-image: url('../../assets/icons/tasks-bg.svg');
    -webkit-mask-image: url('../../assets/icons/tasks-bg.svg');
}

.icon-present {
    mask-image: url('../../assets/icons/present.svg');
    -webkit-mask-image: url('../../assets/icons/present.svg');
}

.icon-present-bg {
    mask-image: url('../../assets/icons/present-bg.svg');
    -webkit-mask-image: url('../../assets/icons/present-bg.svg');
}

.icon-activity {
    mask-image: url('../../assets/icons/activity.svg');
    -webkit-mask-image: url('../../assets/icons/activity.svg');
}

.icon-activity-bg {
    mask-image: url('../../assets/icons/activity-bg.svg');
    -webkit-mask-image: url('../../assets/icons/activity-bg.svg');
}

.icon-profile-thick {
    mask-image: url('../../assets/icons/profile-thick.svg');
    -webkit-mask-image: url('../../assets/icons/profile-thick.svg');
}

.icon-profile {
    mask-image: url('../../assets/icons/profile.svg');
    -webkit-mask-image: url('../../assets/icons/profile.svg');
}

.icon-profile-bg {
    mask-image: url('../../assets/icons/profile-bg.svg');
    -webkit-mask-image: url('../../assets/icons/profile-bg.svg');
}

.icon-mail {
    mask-image: url('../../assets/icons/mail.svg');
    -webkit-mask-image: url('../../assets/icons/mail.svg');
}

.icon-eye-hidden {
    mask-image: url('../../assets/icons/eye-hidden.svg');
    -webkit-mask-image: url('../../assets/icons/eye-hidden.svg');
}

.icon-eye-show {
    mask-image: url('../../assets/icons/eye-show.svg');
    -webkit-mask-image: url('../../assets/icons/eye-show.svg');
}

.icon-google {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url('../../assets/logos/google.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    mask-image: none;
    -webkit-mask-image: none;
}

.icon-microsoft {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url('../../assets/logos/microsoft.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    mask-image: none;
    -webkit-mask-image: none;
}

.icon-exclamation {
    mask-image: url('../../assets/icons/exclamation.svg');
    -webkit-mask-image: url('../../assets/icons/exclamation.svg');
}

.icon-check {
    mask-image: url('../../assets/icons/check.svg');
    -webkit-mask-image: url('../../assets/icons/check.svg');
}

.icon-link-break {
    mask-image: url('../../assets/icons/link-break.svg');
    -webkit-mask-image: url('../../assets/icons/link-break.svg');
}
